:root {
   --color-purple-primary: #8056eb;
   --color-purple-secondary: #5b24e7;
   --color-white: #fff;
   --color-grey-primary: #323232;
   --color-grey-secondary: #f1f1f1;
   --color-grey-tertiary: #a8a8a8;
   --color-grey-quaternary: #dee1e2;
   --color-grey-bold: #ccc;
   --color-black-primary: #0e0e10;
}