@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
    --font-size-s: 1rem;
    --font-size-sm: 1.1rem;
    --font-size-m: 1.2rem;
    --font-size-xm: 1.5rem;
    --font-size-l: 3.2rem;
    --font-weight-m: 500;
    --font-line-height-s: 1.5rem;
    --font-line-height-l: 5rem;
}