:root {
    --spacing-xxxxs: 0.5rem;
    --spacing-xxxs: 0.8rem;
    --spacing-xxs: 1rem;
    --spacing-xs: 1.5rem;
    --spacing-s: 2rem;
    --spacing-l: 4rem;
    --border-radius: 6px;
    --border-radius-s: 8px;
    --border-radius-l: 30px;
}