.overlay {
  align-items: center;
  background-color: rgba(204, 204, 204, 0.7);
  display: flex;
  height: 100%;
  justify-content: right;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.bookingContainer {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  width: 400px;
  height: 100%;
  padding: var(--spacing-xxs);
  position: absolute;
}

.closeButton {
  border: none;
  background-color: var(--color-white);
  color: var(--color-grey-tertiary);
  cursor: pointer;
  font-size: var(--font-size-s);
  margin-left: auto;
  padding: var(--spacing-xxxxs) var(--spacing-xxs);
  width: max-content;

  &:hover {
    border-radius: var(--border-radius-s);
    outline: 1px solid var(--color-grey-tertiary);
  }
}

.bookButtonContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.error {
  color: var(--color-error-red);
}
