.container {
    padding: var(--spacing-l);
}

.searchContainer {
    display: flex;
    margin: var(--spacing-s) auto;
    width: 30%;
    gap: var(--spacing-xxs);
}

.categoriesList {
    align-items: center;
    display: flex;
    margin-top: var(--spacing-l);
    justify-content: center;
    gap : var(--spacing-xxs);
}

.secondTitle {
    font-size: var(--font-size-m);
    margin: var(--spacing-s) 0rem;
}

.businessesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-xxs);
}