.title {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 2rem 0;
}

.sectionDescription {
  line-height: 1.5rem;
}

.gallary {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.businessImg {
  width: 100%;
  border-radius: 5%;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 1.55rem;
  }

  .gallary {
    flex-direction: row;
  }

  .businessImg {
    width: 15rem;
  }
}
